@import "tailwindcss";
@theme {
  --font-rubik-dirty: "Rubik Dirt", system-ui;
}
@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

.slider-container {
  div {
    animation: slide 9s linear 0s infinite forwards;
  }
}
@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.shake-element {
  transform: skew(20deg);
  animation: shake 2s linear infinite alternate;
}
@keyframes shake {
  0% {
    transform: skewY(20deg);
  }
  100% {
    transform: skewY(-20deg);
  }
}
.slide-right {
  animation: slide-right 3s ease-in-out forwards;
}
@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
.slide-left {
  animation: slide-left 2s ease-in-out forwards;
}
@keyframes slide-left {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0%);
  }
}
.rotate-clockwise {
  animation: rotate 2s linear forwards;
}
@keyframes identifier {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
