@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

@tailwind utilities;

@theme {
  --rubik-dirty: "Rubik Dirt", system-ui;
}
.slider-container {
  div {
     animation : slide 9s linear 0s infinite forwards ;
  }

} 
 @keyframes slide  {
     
    from {
      transform: translateX(0%)
    }
    to{
      transform: translateX(-200%)
    }
  }
.shake-element {
  transform: skew(20deg);
     animation : shake 2s linear infinite alternate ;
}   
@keyframes shake {
  0% {
    transform: skewY(20deg);
  }
  100% {
    transform: skewY(-20deg);
  }
}




